---
const BUTTON_STYLES_GENERAL = 'tracking-widest block rounded-lg'

const BUTTON_STYLES = {
  'outline': "px-16 py-3 border border-[#28e48e]",
  'success': "px-16 py-3 bg-[#28E48E] text-white shadow",
} as const

type ButtonStyle = keyof typeof BUTTON_STYLES

interface Props {
  buttonStyle: ButtonStyle
  class?: string
  href?: string
}

const { buttonStyle, class: additionalClass = '', href } = Astro.props
const buttonClass = [BUTTON_STYLES_GENERAL, BUTTON_STYLES[buttonStyle], additionalClass].join(' ')
---

{href ? 
(<a href={href} class={buttonClass}>
  <slot/>
</a>) : (<button class={buttonClass}>
  <slot/>
</button>)
}