---
import '../assets/fonts/style.css'

interface Props { }
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Elevate your space with European window and door systems that blend style and efficiency. Get a quote today and transform your space with elegance." />
		<meta name="keywords" content="HATAHUB, European windows, doors, Canada, window imports, door imports, space transformation, elegance, energy-efficient, quality, modern design, styles, residential, commercial, premium solutions, excellence, bespoke options, personalized designs, home improvement, enhancements, quote, transform">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		<title>HATAHUB - European Window and Door Excellence in Canada</title>
	</head>
	<body>
		<slot />

		<script async src="https://static.wdgtsrc.com/assets/loader.js" data-chats-widget-id="d37e752d-b8cf-4ed6-9c92-9e7acce994db"></script>
		<script type="text/javascript">
			script = document.createElement('script')
			script.src = 'https://static.wdgtsrc.com/assets/loader.js';
			script.async = true;
			script.setAttribute("data-chats-widget-id",'d37e752d-b8cf-4ed6-9c92-9e7acce994db');
			document.head.appendChild(script);
		</script>
	</body>
</html>